@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
html,
body {
  padding: 0;
  margin: 0 0;
  font-family: Nunito Sans;
}

a {
  color: inherit;
  text-decoration: none;
}

* ::before,
*::after {
  box-sizing: border-box;
  margin: 0 0;
}
:root {
  --primary-color: #6379f4;
  --dark-color: #3a3d42;
  --white-color: #fff;
  --error-color: #ff5b37;
  --primary-20: rgba(99, 121, 244, 0.2);
  --success-color: #1ec15f;
  --input-empty: #b5bdcc;
  --inactive-color: #dadada;
  --button-grey: #ebeef2;
}
button {
  cursor: pointer;
}

.input-wrapper {
  display: flex;
  position: relative;
  /* border-bottom: 1.5px solid rgba(169, 169, 169, 0.6); */
}
i {
  position: absolute;
  top: 1.5rem;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 10px 25px;
  border: none;
  font-size: 20px;
  border-bottom: 2px solid rgba(169, 169, 169, 0.6);
}
input[type="email"]:placeholder-shown,
input[type="password"]:placeholder-shown,
input[type="text"]:placeholder-shown {
  border-bottom: 2px solid rgba(169, 169, 169, 0.6);
}
input[type="email"]:invalid,
input[type="password"]:invalid,
input[type="text"]:invalid {
  border-bottom: 2px solid #FF5B37;
}

input[type="submit"] {
  cursor: pointer;
  color: #fff;
  width: 100%;
  height: 50px;
  background-color: #6379f4;
  border: none;
  border-radius: 12px;
  font-size: 18px;
}
input[type="submit"]:disabled {
  cursor: not-allowed;
  background-color: #dadada;
  color: #88888f;
}

input ::placeholder {
  color: rgba(169, 169, 169, 0.8);
}
input:focus,
textarea:focus,
select:focus,
input:valid,
textarea:valid,
select:valid {
  outline: none;
  border-bottom: 2px solid var(--primary-color);
}

input:valid ~ .input-icon {
  color: var(--primary-color);
}
input:placeholder-shown ~ .input-icon{
  color: #88888f;
}

.eye {
  position: absolute;
  top: 1.4rem;
  right: 0;
  cursor: pointer;
  user-select: none;
}
.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
