.footer {
  background-color: #6379f4;
  padding: 15px 10%;
  color: #fff;
}
.bottom {
  display: flex;
  justify-content: space-between;
  border-top: 2.5px solid #fff;
}
.footerinfo {
  width: 40%;
}

.section1 {
  padding: 0 10%;
}
.section1btn {
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 12px;
  color: #fff;
  background-color: #6379f4;
}
.wave{
    position: fixed;
    top: 0px;
}