.historyCard{
  cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
  }
  .historyCard:hover{
    background-color: rgba(58, 61, 66, 0.1)
  }
  .infoWrapperHistory{
    display: flex;
    gap: 25px;
    justify-content: space-between;
  }
  .imgHistory{
    border-radius: 10px;
  }
  .nameHistory{
    font-weight: 700;
    font-size: 16px;
  }
  .typeHistory{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
  }
  .nametypeWrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
  }
  .amountHistoryGreen{
    font-size: 18px;
    font-weight: 700;
    color: #1ec15f;
  }
  .amountHistoryRed{
    font-size: 18px;
    font-weight: 700;
    color: #ff5b37;
  }
  .amountHistoryGray{
    font-size: 18px;
    font-weight: 700;
    color: #6a6a6a
  }