@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

.header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  padding: 0 10%;
  min-height: 12vh;
}
.title {
  display: flex;
  color: #6379f4;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.loginbutton {
  font-weight: 700;
  font-size: 18px;
  height: 55px;
  width: 130px;
  border-radius: 12px;
  border: 3px solid #fff;
  background-color: transparent;
  color: #fff;
}
.signupbutton {
  font-weight: 700;
  font-size: 18px;
  height: 55px;
  width: 130px;
  border: none;
  border-radius: 12px;
  background-color: #fff;
  color: #6379f4;
}
.profileMenu{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profImg {
  width: 52px;
  height: 52px;
  border-radius: 10px;
}
.notif{
  position: relative;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 426px) {
  .header {
    flex-direction: column;
    padding-bottom: 20px;
  }
}
